name: mass-rebuild
on: 
  schedule: 
    - cron: '0 0 1,15 * *'
  workflow_dispatch:
  
jobs:
  lap_1:
    runs-on: ubuntu-latest
    container: 
      image: clearlinux:latest
      options: --privileged --cap-add=SYS_ADMIN --security-opt apparmor:unconfined
    strategy:
      matrix:
        pkg: [secrets, lame, fdk-aac, x264, x265, shotwell, foliate, nv-codec-headers, alacritty, kitty]
    steps:
      - name: Building a package
        shell: bash
        run: |
          swupd bundle-add curl --quiet
          curl -LO https://raw.githubusercontent.com/clearfraction/mass-rebuild/main/rebuild-package.sh && chmod +x ./rebuild-package.sh
          ./rebuild-package.sh ${{ matrix.pkg }}
      - name: Upload result
        uses: actions/upload-artifact@v2
        with:
          path: /tmp/repository/*.rpm

  vscodium:
    runs-on: ubuntu-latest
    container: 
      image: clearlinux:latest
      options: --privileged --cap-add=SYS_ADMIN --security-opt apparmor:unconfined
    steps:
      - name: Building a package
        shell: bash
        run: |
          swupd bundle-add curl --quiet
          curl -LO https://github.com/clearfraction/vscodium/raw/main/build.sh && chmod +x ./build.sh
          ./build.sh
          mv /home/RPMS /tmp/repository
      - name: Upload result
        uses: actions/upload-artifact@v2
        with:
          path: /tmp/repository/*.rpm

  lap_2:
    needs: lap_1
    runs-on: ubuntu-latest
    container: 
      image: clearlinux:latest
      options: --privileged --cap-add=SYS_ADMIN --security-opt apparmor:unconfined
    strategy:
      matrix:
        pkg: [ffmpeg, ffmpeg-cuda, kanshi, wlsunset, rofi-wayland, wl-clipboard, wlr-randr, swayblur, swww, autotiling, swaylock-effects, imv, nvidia-vaapi-driver, vdpau-va-driver-vp9]
    steps:
      - name: Download result
        uses: actions/download-artifact@v2
        with:
          path: /tmp/repository
      - name: Building a package
        shell: bash
        run: |
          swupd bundle-add curl --quiet
          curl -LO https://raw.githubusercontent.com/clearfraction/mass-rebuild/main/rebuild-package.sh && chmod +x ./rebuild-package.sh
          ./rebuild-package.sh ${{ matrix.pkg }}
      - name: Upload result
        uses: actions/upload-artifact@v2
        with:
          path: /tmp/repository/*.rpm

  lap_3:
    needs: lap_2
    runs-on: ubuntu-latest
    container: 
      image: clearlinux:latest
      options: --privileged --cap-add=SYS_ADMIN --security-opt apparmor:unconfined
    strategy:
      matrix:
        pkg: [gomuks, wob, mpv, mpv-cuda, yt-dlp, gstreamer-libav, waybar, wf-recorder, grim, playerctl, brightnessctl, xdg-desktop-portal-wlr]
    steps:
      - name: Download result
        uses: actions/download-artifact@v2
        with:
          path: /tmp/repository
      - name: Building a package
        shell: bash
        run: |
          swupd bundle-add curl --quiet
          curl -LO https://raw.githubusercontent.com/clearfraction/mass-rebuild/main/rebuild-package.sh && chmod +x ./rebuild-package.sh
          ./rebuild-package.sh ${{ matrix.pkg }}
      - name: Upload result
        uses: actions/upload-artifact@v2
        with:
          path: /tmp/repository/*.rpm

  finish:
    needs: [lap_3, vscodium]
    runs-on: ubuntu-latest
    steps:
      - name: CD trigger
        shell: bash
        run: curl -i -u paulcarroty:$BUNDLES_TOKEN -X POST -H "Accept:application/vnd.github.v3+json" -d '{"event_type":"build"}' https://api.github.com/repos/clearfraction/bundles/dispatches
        env:
          BUNDLES_TOKEN: ${{ secrets.BUNDLES_TOKEN }}
